:root {
  --default-font-family: "apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Ubuntu", "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

* {
  margin: auto;
}

.main-container {
  width: 100vw;
  height: 100vh;
  margin: none;
  padding: none;
  border: none;
  box-sizing: border-box;
  overflow: hidden;
}

.image-netflix {
  position: relative;
  margin: 29px 0 0 42px;
  z-index: 12;
}

.form-cadastro {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 696px;
  height: 820px;
  top: 110px;
  left: 612px;
  background: rgba(8, 8, 8, 0.9);
  z-index: 1;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-cadastro input:hover {
  background-color: #3a3a3a;

}

.lbl-cadastrar {
  margin: 0px 335px 40px 0px;
  color: #fff9f9;
  font-family: Questrial, var(--default-font-family);
  font-size: 48px;
  font-weight: 400;
  line-height: 49px;
  text-align: left;
  white-space: nowrap;
  cursor: default;
  z-index: 11;
}

.input-nome {
  width: 470px;
  height: 72px;
  background: #272626;
  padding: 0px 30px 0px 30px;
  border: none;
  outline: none;
  color: #ffffff;
  font-family: Questrial, var(--default-font-family);
  font-size: 26px;
  z-index: 2;
  overflow: hidden;
  border-radius: 7px;
}

.input-email {
  width: 470px;
  height: 72px;
  background: #272626;
  margin: 30px 0px 30px 0px;
  padding: 0px 30px 0px 30px;
  border: none;
  outline: none;
  color: #ffffff;
  font-family: Questrial, var(--default-font-family);
  font-size: 26px;
  z-index: 13;
  overflow: hidden;
  border-radius: 7px;
}

.input-username {
  width: 470px;
  height: 72px;
  background: #272626;
  padding: 0px 30px 0px 30px;
  margin: 0px 0px 30px 0px;
  border: none;
  outline: none;
  color: #ffffff;
  font-family: Questrial, var(--default-font-family);
  font-size: 26px;
  z-index: 3;
  overflow: hidden;
  border-radius: 7px;
}

.input-senha {
  width: 470px;
  height: 72px;
  background: #272626;
  padding: 0px 30px 0px 30px;
  margin: 0px 0px 50px 0px;
  border: none;
  outline: none;
  color: #ffffff;
  font-family: Questrial, var(--default-font-family);
  font-size: 26px;
  z-index: 4;
  overflow: hidden;
  border-radius: 7px;
}

/*.toggle-senha{
    width: 35px;
    height: 40px;
    flex-shrink: 0;
    background: none;
    border: none;
  } */

.btn-cadastrar {
  width: 530px;
  height: 72px;
  margin: 0px 0px 30px 0px;
  background: #e50914;
  border: none;
  outline: none;
  color: #ffffff;
  font-family: Questrial, var(--default-font-family);
  font-size: 28px;
  border: none;
  z-index: 6;
  cursor: pointer;
  border-radius: 7px;
}

.btn-cadastrar:hover {
  background: #b40810;

}

.lbl-login {
  color: #b1b1b1;
  font-family: Questrial, var(--default-font-family);
  font-size: 22px;
  margin: 0px 355px 30px 0px;
  cursor: default;
}

.login-link {
  color: #fff9f9;
  font-family: Questrial, var(--default-font-family);
  font-size: 22px;
  margin: -53px 20px 8px 0px;
}

.login-link :hover {
  border-bottom: #ffffff solid 1px;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background-container img {
  width: 100vw;
  height: auto;
  object-fit: cover;
}