:root {
  --default-font-family: "apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Ubuntu", "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

* {
  margin: auto;

}

.main-container {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: none;
  padding: none;
  border: none;
  overflow: hidden;
}

.image-netflix {
  position: relative;
  margin: 29px 0 0 42px;
  z-index: 12;
}

.form-login {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 696px;
  height: 740px;
  top: 156px;
  left: 612px;
  background-color: rgba(8, 8, 8, 0.9);
  z-index: 1;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lbl-entrar {
  margin: 0px 400px 40px 0px;
  color: #fff9f9;
  font-family: Questrial, var(--default-font-family);
  font-size: 48px;
  font-weight: 400;
  line-height: 49px;
  text-align: left;
  white-space: nowrap;
  cursor: default;
  z-index: 9;
}

.input-email {
  width: 470px;
  height: 72px;
  background: #272626;
  padding: 0px 30px 0px 30px;
  border: none;
  outline: none;
  color: #ffffff;
  font-family: Questrial, var(--default-font-family);
  font-size: 26px;
  overflow: hidden;
  border-radius: 7px;
}

.form-login input:hover {
  background-color: #3a3a3a;

}

.input-senha {
  width: 470px;
  height: 72px;
  margin: 40px 0px 60px 0px;
  padding: 0px 30px 0px 30px;
  background: #272626;
  border: none;
  outline: none;
  color: #ffffff;
  font-family: Questrial, var(--default-font-family);
  font-size: 26px;
  z-index: 7;
  overflow: hidden;
  border-radius: 7px;
}

.btn-entrar {
  width: 530px;
  height: 72px;
  margin: 0px 0px 30px 0px;
  background: #e50914;
  color: #ffffff;
  font-family: Questrial, var(--default-font-family);
  font-size: 28px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.btn-entrar:hover {
  background: #b40810;

}

.lbl-novo {
  color: #b1b1b1;
  font-family: Questrial, var(--default-font-family);
  font-size: 22px;
  margin: 0px 380px 30px 0px;
  cursor: default;
}

.cadastrar-link {
  color: #fff9f9;
  font-family: Questrial, var(--default-font-family);
  font-size: 22px;
  margin: -53px 85px 80px 0px;
}

.cadastrar-link :hover {
  border-bottom: #ffffff solid 1px;
}


.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background-container img {
  width: 100vw;
  height: auto;
  object-fit: cover;
}